<div class="dropdown dropdown-filter">
  <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Items per page
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/users/dashboard/users-management/manage/<%= locals.currentPage %>">20</a>
    <a class="dropdown-item" href="/users/dashboard/users-management/manage/<%= locals.currentPage + '?resPerPage=' + parseInt(30) %>">30</a>
    <a class="dropdown-item" href="/users/dashboard/users-management/manage/<%= locals.currentPage + '?resPerPage=' + parseInt(50) %>">50</a>
    <a class="dropdown-item" href="/users/dashboard/users-management/manage/<%= locals.currentPage + '?resPerPage=' + parseInt(100) %>">100</a>
    <a class="dropdown-item" href="/users/dashboard/users-management/manage/<%= locals.currentPage + '?resPerPage=' + parseInt(150) %>">150</a>
    <div class="dropdown-divider"></div>
    <div data-toggle="tooltip" data-placement="left" title="Press &ldquo;Enter&rdquo; button after the value is set...">
      <input id="customResPerPage" class="form-control" name="customResPerPage" type="text" placeholder="Enter custom value...">
    </div>
  </div>
</div>
