<% if(locals.pages && locals.currentPage) { %>
  <% let resPerPageQuery = ((locals.paginationLinkQuery) ? ('\?resPerPage=' + paginationLinkQuery) : '') %>

  <% for(let i = 1; i <= 3; i++) { %>
    <li class="page-item"><a class="page-link" href="<%= paginationLink + parseInt(i) + resPerPageQuery %>"> <%= i %> </a></li>
  <% } %>
  <li class="page-item disabled"><a class="page-link" href="#"> ... </a></li>
  <li class="page-item"><a class="page-link" href="<%= paginationLink + (parseInt(currentPage) - 1) + resPerPageQuery %>"> <%= (parseInt(currentPage) - 1) %> </a></li>
  <li class="page-item active" aria-current="page">
    <a class="page-link" href="<%= paginationLink + parseInt(currentPage) + resPerPageQuery %>"> <%= currentPage %> <span class="sr-only">(current)</span></a>
  </li>
  <li class="page-item"><a class="page-link" href="<%= paginationLink + (parseInt(currentPage) + 1) + resPerPageQuery %>"> <%= (parseInt(currentPage) + 1) %> </a></li>
  <%- include('outputLastPages') %>

<% } %>
